dist/
_drafts/
_site/
node_modules/
logs/
commands/
.idea
.idea/*

public/static/less/sprites
public/static/image/common/sprite.png
.DS_Store
npm-debug.log
*.swp
.svn/

stats.json
server/configs/private.js
test-code/
server/logs/*.log